<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="style.css" id="cm-theme" />
  <title>Activity Feed</title>
</head>
<body>

  <div class="container">
    <h2>Activity Feed</h2>
    <ol class="activity-feed" id="activity-feed">

    </ol>

  </div>
  <script src="/dist/stream-js.js" type="text/javascript"></script>
  <script src="index.js" type="text/javascript"></script>
  </body>
</html>

